* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.insta-story-template {
  min-height: 100vh;
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta-story-template .insta-story-screen {
  min-height: 548px;
  min-width: 320px;
  background-image: url(../imgs/story1.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: relative;
}
.insta-story-template .insta-story-screen .top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: #fff;
}
.insta-story-template .insta-story-screen .top .icon-sec {
  display: flex;
  align-items: center;
  height: 100%;
  width: 90%;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon {
  padding: 0px 6px 0px 0;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon img {
  width: 31px;
  height: 31px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background-size: 100% 100%;
  background-position: center;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text {
  font-weight: 400;
  color: #fff;
  width: 100%;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text p {
  font-size: 12px;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text p span {
  margin-left: 4px;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec {
  display: flex;
  align-items: center;
  margin: 4px;
  width: 100%;
  margin-left: 2px;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar {
  margin: 0 0.9px;
  height: 6px;
  width: 2.1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  background: #fff;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar:nth-child(1) {
  animation: bar1 0.8s linear infinite;
  animation-direction: alternate;
}
@keyframes bar1 {
  from {
    transform: scaleY(0.6);
  }
  to {
    transform: scaleY(1.8);
  }
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar:nth-child(2) {
  animation: bar2 0.8s linear infinite;
  animation-direction: alternate;
  animation-delay: 0.8s;
}
@keyframes bar2 {
  from {
    transform: scaleY(0.6);
  }
  to {
    transform: scaleY(1.8);
  }
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar:nth-child(3) {
  animation: bar3 0.8s linear infinite;
  animation-direction: alternate;
}
@keyframes bar3 {
  from {
    transform: scaleY(0.6);
  }
  to {
    transform: scaleY(1.8);
  }
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar-text {
  margin-left: 2px;
}
.insta-story-template .insta-story-screen .top .icon-sec .icon-text .bar-sec .bar-text p {
  font-size: 11px;
}
.insta-story-template .insta-story-screen .top .close-btn-sec button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.insta-story-template .insta-story-screen .top .close-btn-sec button i {
  font-size: 27px;
  color: #fff;
}
.insta-story-template .insta-story-screen .bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 10px;
}
.insta-story-template .insta-story-screen .bottom .seen-sec {
  width: 30%;
  height: 100%;
  color: #fff;
}
.insta-story-template .insta-story-screen .bottom .seen-sec .seen-imgs img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -9px;
  border: 1px solid #fff;
}
.insta-story-template .insta-story-screen .bottom .seen-sec .seen-text p {
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-top: 4px;
}
.insta-story-template .insta-story-screen .bottom .more-sec {
  width: 70%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: end;
}
.insta-story-template .insta-story-screen .bottom .more-sec .more {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 0 15px;
}
.insta-story-template .insta-story-screen .bottom .more-sec .more p {
  font-size: 10px;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
.insta-story-template audio {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media (max-width: 380px) {
  .insta-story-template .insta-story-screen {
    height: 100vh;
    width: 100%;
  }
  .insta-story-template audio {
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */