* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.indian-flag-template {
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;
  background: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.indian-flag-template .indian-flag {
  width: 800px;
  min-width: 200px;
  max-width: 800px;
  min-height: 450px;
}

.indian-flag-template .indian-flag .bar {
  width: 100%;
  height: 150px;
}

.indian-flag-template .indian-flag .top {
  position: relative;
  overflow: hidden;
}

.indian-flag-template .indian-flag .top .top-bg {
  height: 100%;
  width: 100%;
  background: #ff9933;
  position: absolute;
}

.indian-flag-template .indian-flag .top .top-bar {
  position: absolute;
  top: 0;
  left: 0%;
  height: 5px;
  width: 100%;
  background: #ff9933;
}

.indian-flag-template .indian-flag .top .right-bar {
  position: absolute;
  right: -70px;
  top: 70px;
  height: 5px;
  width: 18%;
  background: #ff9933;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.indian-flag-template .indian-flag .top .bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #ff9933;
}

.indian-flag-template .indian-flag .top .left-bar {
  position: absolute;
  left: -70px;
  top: 70px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 5px;
  width: 18%;
  background: #ff9933;
}

.indian-flag-template .indian-flag .middle {
  position: relative;
  overflow: hidden;
}

.indian-flag-template .indian-flag .middle .middle-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
}

.indian-flag-template .indian-flag .middle .chakra-img {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indian-flag-template .indian-flag .middle .chakra-img img {
  width: 120px;
  height: 120px;
  z-index: 2;
  -webkit-animation: loop 4s linear infinite;
          animation: loop 4s linear infinite;
}

.indian-flag-template .indian-flag .middle .middle-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #ffffff;
}

.indian-flag-template .indian-flag .middle .middle-right-bar {
  position: absolute;
  right: -70px;
  top: 70px;
  height: 5px;
  width: 18%;
  background: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.indian-flag-template .indian-flag .middle .middle-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #ffffff;
}

.indian-flag-template .indian-flag .middle .middle-left-bar {
  position: absolute;
  left: -70px;
  top: 70px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 5px;
  width: 18%;
  background: #ffffff;
}

.indian-flag-template .indian-flag .bottom {
  position: relative;
  overflow: hidden;
}

.indian-flag-template .indian-flag .bottom .bottom-bg {
  background: #138808;
  height: 100%;
  width: 100%;
}

.indian-flag-template .indian-flag .bottom .bottom-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #138808;
}

.indian-flag-template .indian-flag .bottom .bottom-right-bar {
  position: absolute;
  right: -70px;
  top: 70px;
  height: 5px;
  width: 18%;
  background: #138808;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.indian-flag-template .indian-flag .bottom .bottom-bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #138808;
}

.indian-flag-template .indian-flag .bottom .bottom-left-bar {
  position: absolute;
  left: -70px;
  top: 70px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 5px;
  width: 18%;
  background: #138808;
}

.indian-flag-template .flag-btns {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indian-flag-template .flag-btns div {
  margin: 0 20px 0 0;
}

.indian-flag-template .flag-btns div button {
  background: black;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  cursor: pointer;
}

.indian-flag-template .flag-btns div button i {
  color: #fff;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */